body {
    background-color: #1f242d;
    color: white;
    min-height: 100vh;
}

.navbar {
    background-color: #1f242d;
}

.card,
.list-group-item,
.form-control {
    background-color: #1f242d;
    color: white;
    border: 1px solid #444;
}

.form-control:focus {
    background-color: #1f242d;
    color: white;
    border-color: #0d6efd;
    box-shadow: none;
}

.completed {
    background-color: #198754 !important;
    color: white;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #aaa;
}
.completed-task {
    text-decoration: line-through;
    color: #bdbdbd;
    opacity: 0.8;
}